# sonarqube config
export SONAR_HOST_URL=http://18.136.201.95
export SONAR_TOKEN=${SONAR_TOKEN}

# spring config
export SPRING_DATASOURCE_URL=jdbc:postgresql://${DB_URL}/${DB_NAME}
export SPRING_DATASOURCE_USERNAME=${DB_USERNAME}
export SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
export SECURITY_JWT_SECRET=1ukPr@a1M@1T@1D3rN@NgJoNMaHenKubT@

export ENABLED_FEATURE_PROMOTION_LIST_API=false
# pre-generated jwt token: eyJhbGciOiJIUzI1NiJ9.eyJhdXRob3JpdGllcyI6WyJST0xFX1NIT1BQRVIiXSwic3ViIjoic2hvcHBlciIsImlhdCI6MTcxMTA4MTk1OSwiZXhwIjoxNzQyNjE3OTU5fQ.hwpc_6CL_ZENHurOaZEYg3tz9FVBgOYa7ILF063stxs
