apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: workshop
spec:
  selector:
    matchLabels:
      app: api
  replicas: 3
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: kbazaar-api
          image: ghcr.io/<your-github>/workshop:342b25a526f325f284259db8f71d8c866b2b527d
          imagePullPolicy: Always
          ports:
            - containerPort: 9090
          env:
            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: api.service.port
          resources:
            limits:
              cpu: 2
              memory: 512Mi
